@model IEnumerable<OutilsActualisation.Models.MesActualisationsViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }

        .flex-container > a, .flex-container > a:visited {
            background-color: #dc9191;
            background-image: linear-gradient(to bottom left, rgb(255, 188, 118), rgb(187, 115, 165));
            padding: 6px 15px;
            border-radius: 3px;
            margin: 8px;
            line-height: 40px;
            font-size: 30px;
            flex-grow: 1;
            color: black;
            text-decoration: none;
            font-size: 24px;
        }

            .flex-container > a:hover {
                cursor: pointer;
                background-image: linear-gradient(to bottom left, rgb(255, 218, 148), rgb(217, 145, 195));
                color: black;
            }

    .dateCreation {
        font-size: 16px !important;
    }
</style>

<h2>Mes actualisations  @if (User.IsInRole("Admin")) { <a class="btn btn-success" asp-action="Actualisation_Create" style="float:right; margin-right:8px;">Démarrer une actualisation<span class="glyphicon glyphicon-plus" style="margin-left:7px;"></span></a>  }</h2>

<div class="flex-container">
    @if (Model.Count() != 0)
    {
        @foreach (var item in Model)
        {
            <a asp-action="Actualisation" asp-controller="Actualisation" asp-route-idActualisation="@item.Id">
                <div>
                    <span>@item.Nom</span><br />
                    <span class="dateCreation">@item.DateCreation.ToShortDateString()</span>
                </div>
            </a>
        }
    }
    else
    {
            <h2 style="margin-top:75px;text-align:center; width:100%">Vous ne participez à aucune actualisation présentement...</h2>     
    }

</div>


