@model OutilsActualisation.AppData.Cours
<!--Content-->
<div style="height: calc(100vh - (1vh + 11.25vw + 111px));max-height: calc(100vh - (5vh + 11.25vw)); overflow-y:auto;">
    <h2 style="margin-top:0px;">Changement de la session des cours de la formation générale</h2>
    <div style="margin-bottom:7px;">
        Cette étape sert à attribuer une session spécifique à un cours de la formation générale, si nécessaire.
    </div>


    

</div>