<!--Content-->
<div style="height: calc(100vh - (1vh + 11.25vw + 111px));max-height: calc(100vh - (5vh + 11.25vw)); overflow-y:auto;">
    <h2 style="margin-top:0px;">Répartition des heures par compétence</h2>
    <p>
        Ce rapport montre la distribution des heures pour chaque cours par compétence au travers les sessions. Il permet de valider les données entrées.
    </p>
</div>