<div style="width:15vw; position:absolute; left:0; top: calc(8.5vw + 2vh); margin-top: 20px;">
    <div onclick="AjaxFill('/Competence/Analyse', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep selected">Analyse</div>
    <div onclick="AjaxFill('/Competence/FamilleSequence', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Familles et séquences</div>
    <div onclick="AjaxFill('/Competence/ProfilFormation', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Profils de formation</div>
    <div onclick="AjaxFill('/Competence/RepartitionHeure', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Répartition des heures</div>
    <div onclick="AjaxFill('/Competence/GroupeCompetence', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Groupes</div>
    <div onclick="AjaxFill('/Competence/Ebauche', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Ébauches</div>
</div>
<div id="ContentContainer" style="margin-left: 15vw; position:relative; height: calc(100vh - (1vh + 11.25vw + 111px));">
    
</div>
