<!--Content-->
<div style="height: calc(100vh - (1vh + 11.25vw + 111px));max-height: calc(100vh - (5vh + 11.25vw)); overflow-y:auto;">
    <h2 style="margin-top:0px;">Rapports</h2>
    <p>
        Cette étape sert à finaliser l'actualisation en générant les rapports.
    </p>
    <br /><br />
    <span style="width:40%; margin:7px 0 7px 18%;" class="btn btn-primary">Rapport d'analyse<span class="glyphicon glyphicon-download-alt" style="margin-left:10px;"></span></span>
    <span style="width:20%; margin:7px 18% 7px 0;" class="btn btn-info">Publier<span class="glyphicon glyphicon-arrow-up" style="margin-left:10px;"></span></span>

    <span style="width:40%; margin:7px 0 7px 18%;" class="btn btn-primary">Grille des cours<span class="glyphicon glyphicon-download-alt" style="margin-left:10px;"></span></span>
    <span style="width:20%; margin:7px 18% 7px 0;" class="btn btn-info">Publier<span class="glyphicon glyphicon-arrow-up" style="margin-left:10px;"></span></span>

    <span style="width:40%; margin:7px 0 7px 18%;" class="btn btn-primary">Logigramme des compétences<span class="glyphicon glyphicon-download-alt" style="margin-left:10px;"></span></span>
    <span style="width:20%; margin:7px 18% 7px 0;" class="btn btn-info">Publier<span class="glyphicon glyphicon-arrow-up" style="margin-left:10px;"></span></span>

    <span style="width:40%; margin:7px 0 7px 18%;" class="btn btn-primary">Logigramme des cours<span class="glyphicon glyphicon-download-alt" style="margin-left:10px;"></span></span>
    <span style="width:20%; margin:7px 18% 7px 0;" class="btn btn-info">Publier<span class="glyphicon glyphicon-arrow-up" style="margin-left:10px;"></span></span>

    <span style="width:40%; margin:7px 0 7px 18%;" class="btn btn-primary">Plan cadre<span class="glyphicon glyphicon-download-alt" style="margin-left:10px;"></span></span>
    <span style="width:20%; margin:7px 18% 7px 0;" class="btn btn-info">Publier<span class="glyphicon glyphicon-arrow-up" style="margin-left:10px;"></span></span>


</div>