<div style="width:15vw; position:absolute; left:0; top: calc(8.5vw + 2vh); margin-top: 20px;">
    <div onclick="AjaxFill('/Devis/ConditionAdmission', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep selected">Conditions d'admission</div>
    <div onclick="AjaxFill('/Devis/AnalyseProfession', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Analyse de la profession</div>
    <div onclick="AjaxFill('/Devis/UniteHeure', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Unités et heures</div>
    <div onclick="AjaxFill('/Devis/Finalite', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Finalités</div>
    <div onclick="AjaxFill('/Devis/Competence', '#ContentContainer', false); ChangeSelect('smallstep','selected', $(event.target));" class="smallstep">Liste des compétences</div>
</div>
<div id="ContentContainer" style="margin-left: 15vw; position:relative; height: calc(100vh - (1vh + 11.25vw + 111px));">
    
</div>

