<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    th {
        background-color: #343a40;
        color: white;
    }
</style>

<!--Content-->
<div style="height: calc(100vh - (1vh + 11.25vw + 111px));max-height: calc(100vh - (5vh + 11.25vw)); overflow-y:auto;">
    <h2 style="margin-top:0px;">Attitudes et Méthodes</h2>
    <p>
        Cette étape sert à insérer dans l'Actualisation toutes les Attitudes et les Méthodes du Devis.
    </p>
    <h2>Attitudes</h2>
    <table>
        <tr>
            <th style="width:25%;">Catégorie</th>
            <th>Attitude</th>
        </tr>
        <tr>
            <td>Client - Posture</td>
            <td>
                Empathie

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Client - Posture</td>
            <td>
                Approche client

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Client - Posture</td>
            <td>
                Soucis d'établir une communication judicieuse avec le client.

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Client - Posture</td>
            <td>
                Soucis de bien répondre à la demande.

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Client - Satisfaction</td>
            <td>
                Soucis de l'expérience de l'utilisateur.

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Client - Satisfaction</td>
            <td>
                Capacité à accepter la critique.

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Communication</td>
            <td>
                Capacité à travailler en équipe.

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Communication</td>
            <td>
                Faire preuve de civilitée.

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
    </table>

    <div style="width:100%; text-align:center;">
        <span class="glyphicon glyphicon-plus btn btn-dark btn-success" style="padding:5px 8px;margin-top:10px;display:inline-block" data-toggle="modal" data-target="#exampleModal"></span>
    </div>

    <h2>Méthodes</h2>
    <table>
        <tr>
            <th style="width:25%;">Catégorie</th>
            <th>Méthodes</th>
        </tr>
        <tr>
            <td>Communication - approche client</td>
            <td>
                Stratégie de développement avec une approche client

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Communication - communication efficace</td>
            <td>
                Stratégies de communication efficace

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Communication - gestion de conflits</td>
            <td>
                Stratégies de gestion de conflits

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Communication - interpersonnelle</td>
            <td>
                Stratégies de communication interpersonnelles et professionnelles

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Documentation - classement</td>
            <td>
                Méthodes de classement des informations

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Documentation - code</td>
            <td>
                Stratégies de documentation de code

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Documentation - consignation</td>
            <td>
                Méthodologie de consignation des choix et justifications

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
        <tr>
            <td>Documentation - des essais</td>
            <td>
                Stratégies efficaces de documentation des essais

                <span style="float:right; font-size:10px; padding:2px 5px;" class="btn btn-danger glyphicon glyphicon-trash"></span>
                <span style="float:right; font-size:10px; padding:2px 5px; margin-right:6px;" class="btn btn-warning glyphicon glyphicon-pencil"></span>
            </td>
        </tr>
    </table>

    <div style="width:100%; text-align:center;">
        <span class="glyphicon glyphicon-plus btn btn-dark btn-success" style="padding:5px 8px;margin-top:10px;display:inline-block" data-toggle="modal" data-target="#exampleModal2"></span>
    </div>

    <!--Bouton Précédent/Suivant-->
    <div style="position:absolute; bottom:0; height:4vh; width:100%; padding-top: 6px;">
        <a class="btn btn-info" style="float:left"><span class="glyphicon glyphicon-arrow-left" style="margin-right:10px;"></span>Précédent</a><a class="btn btn-info" style="float:right">Suivant<span class="glyphicon glyphicon-arrow-right" style="margin-left:10px;"></span></a>
    </div>

</div>
<!-- Modal Attitude -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="display:inline-block;">Création d'Attitude</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div style="display:flex; margin-top:7px;">
                    <label style="width:30%; line-height:26px; padding-right:5px; text-align:right;">Catégorie : </label>
                    <input type="text" style="flex-grow: 1; width:15%;" />
                </div>
                <div style="display:flex; margin-top:7px;">
                    <label style="width:30%; line-height:26px; padding-right:5px; text-align:right;">Attitude : </label>
                    <input type="text" style="flex-grow: 1" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Créer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Methode -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" style="display:inline-block;">Création de Méthode</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div style="display:flex; margin-top:7px;">
                    <label style="width:30%; line-height:26px; padding-right:5px; text-align:right;">Catégorie : </label>
                    <input type="text" style="flex-grow: 1; width:15%;" />
                </div>
                <div style="display:flex; margin-top:7px;">
                    <label style="width:30%; line-height:26px; padding-right:5px; text-align:right;">Méthode : </label>
                    <input type="text" style="flex-grow: 1" />
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Créer</button>
            </div>
        </div>
    </div>
</div>
